=link_to "Like Button",like_button_integrations_path
%br
=link_to "Activity Feed",activity_feed_integrations_path
%br
=link_to "Comments Box",comments_integrations_path
%br
=link_to "Friendpile",friendpile_integrations_path